@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Selección de Texto */
::selection {
  background-color: #fbbf24; /* amber-400 */
  color: #18181b; /* zinc-900 */
}

/* Selección en Firefox */
::-moz-selection {
  background-color: #fbbf24;
  color: #18181b;
}

/* Scrollbar Personalizada */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #18181b; /* zinc-900 */
}

::-webkit-scrollbar-thumb {
  background: #3f3f46; /* zinc-700 */
  border-radius: 8px;
  border: 2px solid #18181b; /* zinc-900 border to create padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #f59e0b; /* amber-500 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #18181b;
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
